button{
  background-color: #202020;
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
  font-size: 15px;
  color: white;
  padding:10px;
  border:0px;
}
button:hover{
  background-color: #373737;
  cursor:pointer;
}

.sidebar-item {
  text-align: center;
  font-size: 20px;
  color: white;
}

.sidebar-item2 {
    padding: 1.5rem;
    color: white;
}


figcaption {
  padding: .5rem;
  text-align: center;
  font-style: italic;
  font-size: smaller;
}

img {
  margin: 0 0 0;
}

input {
  width: 100%;
  height: 30px;
}
