
<button type="button" id="print_button">switch to printable view</button>
<dl id="online" style="padding-left:0px;display:block;" >
{% for item in items %}
  
  <dt style="float: left; "><a name="item_{{ item.number }}"></a>{{ page.number }}.{{ item.number }}.</dt>
  <dd style="margin-left: 70px;margin-bottom:40px;">
    {{ item.content |markdownify|strip_html|truncate: 100}}<span style="float:right;"><a href="{{ site.baseurl }}{{ item.url }}">read more</a></span>
  </dd>
{% endfor %}
</dl>

<dl id="printable" style="padding-left:0px;display:none;" >
{% for item in items %}
  
  <dt style="float: left; "><a name="item_{{ item.number }}"></a>{{ page.number }}.{{ item.number }}.</dt>
  <dd style="margin-left: 70px;margin-bottom:40px;">
  
  {{ item.content |markdownify}}
  {% if item.comments.size > 0 %}
  <h2>Comments</h2>
  {% for comment in item.comments %}
  {{ comment.comment }}
  <div style="font-style: italic;text-align:right;">{{ comment.author }} -- {{ comment.date }}</div>
  {% endfor %}
  {% endif %}
  {% if item.urls.size > 0 %}
  <h2>URLs</h2>
  <ul>
  {% for url in item.urls %}
  <li><a href="{{ url }}">{{ url }}</a></li>
  {% endfor %}
  </ul>
  {% endif %}
  {% if item.translations.size > 0 %}
  <h2>Translations</h2>
  <dl>
  {% for translation in item.translations %}
  <dt> {{ translation|first }} </dt>
  <dd> {{ translation|last }} </dd>
  {% endfor %}
  </dl>
  {% endif %}
  
  </dd>
{% endfor %}
</dl>

<script src='{{ site.baseurl }}/public/js/hildegard.js'></script>
