<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p>{{ site.description }}</p>
  </div>

  <nav class="sidebar-nav">
    <a class="sidebar-nav-item{% if page.title == 'Home' %} active{% endif %}" href="{{ '/' | absolute_url }}">Home</a>

    {% comment -%}
      The code below dynamically generates a sidebar nav of pages with
      `layout: page` in the front-matter. See readme for usage.
    {% endcomment -%}

    {% assign pages_list = site.pages | sort:"url" -%}
    {% for node in pages_list -%}
      {% if node.title != null -%}
        {% if node.layout == "page" -%}
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url | absolute_url }}">{{ node.title }}</a>
        {% endif -%}
      {% endif -%}
    {% endfor -%}
    <h4>Literature</h4>
    {% assign sections=site.sections | sort: 'order' -%}
    {% for item in sections -%}
      
      {% assign item_url = "/sections/" -%}
      {% assign item_name = item.path | split: "/" | last |split: "." | first -%}
      {% assign item_url = item_url | append: item_name -%}
      {% assign item_url = item_url | append: "/" -%}
    <a class="sidebar-nav-item{% if page.url == item_url %} active{% endif %}" href="{{ site.baseurl }}{{ item_url }}">{{ item.title }}</a>
    {% endfor -%}
  </nav>
  <div class="sidebar-item">
    
    <form action="{{ site.baseurl }}/search/" id="form" method="get">
      <input type="text" placeholder="search site literature" id="search-box" name="query">
    </form>
    
    <!--
    <form style="" method="get" id="search-google" action="https://www.google.com/search" target="_blank">
      <input type="hidden" name="sitesearch" value="{{ site.url }}{{ site.baseurl }}" />
      <input type="text" name="q" maxlength="255" value="" placeholder="Search site via Google" class="form-control" />
    </form>
    -->
    <!--<script async src="https://cse.google.com/cse.js?cx=6eedfaa3ca8ca1a85"></script>
    <div class="gcse-search"></div>-->
  </div>
  <div class="sidebar-item">
  <p>
  Site last updated:<br/> {{ site.time | date_to_long_string }}
  </p>
  </div>
</div>
